PyMuPDF==1.26.7
paddleocr==3.5.0
paddlepaddle==3.2.0
opencv-python==4.11.0.86
numpy==1.26.4
scikit-learn==1.7.1
joblib==1.5.2
sentence-transformers==5.4.1
faiss-cpu==1.13.2
streamlit==1.55.0
spacy==3.8.14
streamlit-cookies-controller==0.0.4
